.y1{
    color: aquamarine;
    background-color: blueviolet;
}

#y2{
    color: brown;
    background-color: cornflowerblue;
}

.next-div{
    top: 25px;
    bottom: 25px;
    left: 25px;
    font-size: 50px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: chartreuse;
    background-color: coral;
}

#box1{
    height: 150px;
    width: 150px;
    margin: 100px auto;
    background-color: cornflowerblue;
}

#box2{
    height: 100px;
    width: 100px;
    position: absolute;
    margin: 25px 25px;
    background-color: darkmagenta;
}

#box3{
    height: 50px;
    width: 50px;
    position: absolute;
    margin: 25px 25px;
    background-color: indianred;
}
