body{
    background-color: cornflowerblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#num{
    text-align: center;
    font-size: 5vh;
    color: beige;
}

button{
    height: 7vh;
    width: 7vh;
    margin: 20px;
}

.container{
    background-color: darkmagenta;
    padding: 5vh;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    border: crimson solid 5px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}